Flask==1.0.2
gunicorn==19.9.0
Flask-SQLAlchemy==2.4.0
google-cloud-vision==0.38.1
google-api-core==1.17.0
alembic==1.4.2
argon2-cffi==19.1.0
bcrypt==3.1.7
Flask-Bcrypt==0.7.1
google-auth==1.18.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-SocketIO==4.3.0
Click==7.0
Flask-User==1.0.1.5
Flask-WTF==0.14.3
googleapis-common-protos==1.51.0
grpcio==1.23.0
idna==2.9
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
kiwisolver==1.2.0
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.2
numpy==1.18.1
olefile==0.46
opencv-python==4.2.0.34
pandas==1.0.4
passlib==1.7.1
Pillow==8.2.0
plotly==4.8.1
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pycryptodome==3.9.7
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.0
python-socketio==4.6.0
pytz==2020.1
stripe==2.36.2
urllib3==1.25.9
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
WTForms==2.3.1